@font-face {
  font-family: "MeieScript-Regular";
  font-display: swap;
  src: url("../fonts/MeieScript-Regular.woff") format("woff"), url("../fonts/MeieScript-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body img {
  width: 500px;
  height: 500px;
  background: url(img/Andromeda.jpg);
}
@supports (-webkit-appearance:none){
body img{background:url(img/Andromeda.webp)}
}
