@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "logo";
  font-display: swap;
  src: url("../fonts/Pattaya-Regular.woff") format("woff"), url("../fonts/Pattaya-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "primary-font";
  font-display: swap;
  src: url("../fonts/Marmelad-Regular.woff") format("woff"), url("../fonts/Marmelad-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 400;
}

a {
  font-family: secondary-font;
  font-weight: 500;
  text-decoration: none;
  color: #382513;
}

button,
p {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.header {
  padding-top: 24px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/header/background.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 166px;
  height: 50px;
}

.header__logo h1 {
  font-family: logo;
  line-height: 18px;
  color: #382513;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav a {
  font-family: primary-font;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #382513;
  margin-left: 59px;
}

.header__nav a:first-child {
  margin-left: 0;
}

.header__nav a:last-child {
  margin-right: 59px;
}

.header__cart {
  background: url(../img/header/cart.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 48px;
  height: 40px;
  cursor: pointer;
}

.header__cart div {
  position: absolute;
  bottom: 20px;
  left: 14px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: secondary-font;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #382513;
  width: 27px;
  height: 26px;
}

.intro {
  background: url(../img/intro/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: .99;
  height: 744px;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 122px;
}

.intro__title {
  font-family: logo;
  font-weight: normal;
  line-height: 72px;
  font-size: 64px;
  color: #000000;
  margin-bottom: 32px;
}

.intro__subtitle {
  font-family: secondary-font;
  font-weight: 300;
  line-height: 32px;
  font-size: 22px;
  color: #000000;
  margin-bottom: 48px;
}

.intro__btn {
  font-family: secondary-font;
  font-weight: 500;
  line-height: 32px;
  font-size: 26px;
  color: #ffffff;
  background-color: #382513;
  border-radius: 9px;
  position: relative;
  padding: 20px 73px;
  cursor: pointer;
}

.intro__btn div {
  width: 263px;
  height: 72px;
  position: absolute;
  bottom: -6px;
  right: -6px;
  z-index: -1;
  background: #ffffff;
  border: 1px solid #382513;
  border-radius: 9px;
}

.intro__item {
  position: absolute;
  right: -40px;
  top: -60px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 541px;
  background: #FFFAF3;
  padding: 0 25px;
  padding-bottom: 47px;
  opacity: .99;
  position: fixed;
  right: 0;
  top: 0;
}

.cart__inner {
  width: 100%;
}

.cart__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
  margin-bottom: 33px;
}

.cart__info p {
  font-family: primary-font;
  font-size: 22px;
  line-height: 22px;
  color: #382513;
  white-space: nowrap;
}

.cart__close {
  font-size: 38px;
  color: #382513;
  cursor: pointer;
  margin-top: 8px;
}

.cart__info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__info-wrap div {
  font-family: secondary-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #382513;
  margin-right: 4px;
}

.cart__info-wrap p {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  color: #382513;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px dashed #7C644D;
  padding: 33px 0;
}

.cart__foto {
  width: 100%;
  max-width: 165px;
  margin-right: 31px;
}

.cart__title {
  font-family: primary-font;
  font-size: 22px;
  line-height: 18px;
  color: #382513;
  margin-bottom: 3px;
}

.cart__item-wrap p {
  font-family: primary-font;
  font-size: 20px;
  line-height: 22px;
  color: #9C7044;
  margin-bottom: 27px;
}

.cart__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.cart__nav p {
  font-family: secondary-font;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #382513;
  margin-right: 20px;
  margin-bottom: 0;
}

.cart__nav button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E9CBAF;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  margin-right: 9px;
  cursor: pointer;
}

.cart__nav button:nth-of-type(2) {
  padding-bottom: 5px;
}

.cart__nav button:last-child {
  background: none;
  border-radius: none;
  margin-right: 0;
  margin-left: 39px;
}

.cart__qty {
  font-family: secondary-font;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #382513;
  margin-right: 5px;
}

.cart__total {
  border-top: 1px dashed #7C644D;
  padding-top: 57px;
  margin-bottom: 235px;
}

.cart__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart__btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: secondary-font;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #ffffff;
  background-color: #382513;
  border-radius: 9px;
  width: 100%;
  max-width: 253px;
  height: 58px;
  position: relative;
  cursor: pointer;
}

.cart__btn span {
  width: 100%;
  max-width: 253px;
  height: 58px;
  position: absolute;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: #ffffff;
  border: 1px solid #382513;
  border-radius: 9px;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__title {
  font-family: primary-font;
  font-weight: normal;
  font-size: 36px;
  line-height: 38px;
  color: #382513;
}

.product__nav {
  width: 100%;
  margin: 89px 0;
}

.product__btn {
  font-family: primary-font;
  font-weight: normal;
  font-size: 24px;
  font-weight: 18px;
  color: #382513;
  width: 100%;
  max-width: 176px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 48px;
  margin-right: 15px;
  cursor: pointer;
}

.product__btn:last-child {
  margin-right: 0;
}

.product__btn-active {
  color: #ffffff;
  background: #DB8C3D;
  -webkit-box-shadow: 0px 4px 11px #C09F7F;
          box-shadow: 0px 4px 11px #C09F7F;
  border: none;
}

.product__content {
  width: 100%;
}

.product__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__item {
  margin-right: 49px;
  height: 100%;
  min-height: 430px;
}

.product__item:last-child {
  margin-right: 0;
}

.product__item:hover .product__item-active {
  margin-top: -4%;
  opacity: .9;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.product__item:hover .product__cart {
  opacity: 1;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-delay: .15s;
       -o-transition-delay: .15s;
          transition-delay: .15s;
}

.product__item:hover .product__cart-wrap span {
  opacity: .99;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .18s;
       -o-transition-duration: .18s;
          transition-duration: .18s;
  -webkit-transition-delay: .18s;
       -o-transition-delay: .18s;
          transition-delay: .18s;
}

.product__item-active {
  position: absolute;
  width: 100%;
  max-width: 258px;
  height: 100%;
  max-height: 190px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  background-color: #ffffff;
}

.product__foto {
  width: 100%;
  max-width: 280px;
}

.product__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 17px;
  margin-bottom: 33px;
}

.product__text h4 {
  font-family: primary-font;
  font-size: 22px;
  font-weight: 400;
  line-height: 18px;
  color: #382513;
}

.product__text span {
  font-family: primary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  color: #9C7044;
  margin-right: 5px;
}

.product__price {
  font-family: primary-font;
  font-size: 30px;
  line-height: 30px;
  color: #382513;
  margin-bottom: 17px;
}

.product__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: secondary-font;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #ffffff;
  background-color: #382513;
  border-radius: 9px;
  position: absolute;
  bottom: -57px;
  z-index: 2;
  width: 100%;
  max-width: 253px;
  height: 58px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition-duration: .12s;
       -o-transition-duration: .12s;
          transition-duration: .12s;
  -webkit-transition-delay: .12s;
       -o-transition-delay: .12s;
          transition-delay: .12s;
}

.product__cart img {
  margin-left: 3px;
}

.product__cart-wrap {
  position: relative;
}

.product__cart-wrap span {
  width: 100%;
  max-width: 253px;
  height: 58px;
  position: absolute;
  bottom: -62px;
  right: -1px;
  z-index: 1;
  background: #ffffff;
  border: 1px solid #382513;
  border-radius: 9px;
  opacity: 0;
  -webkit-transition-duration: .09s;
       -o-transition-duration: .09s;
          transition-duration: .09s;
  -webkit-transition-delay: .09s;
       -o-transition-delay: .09s;
          transition-delay: .09s;
}
@supports (-webkit-appearance:none){
.header__logo{background:url(../img/header/background.svg)}
.header__cart{background:url(../img/header/cart.svg)}
.intro{background:url(../img/intro/background.webp)}
}
