@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "logo";
  font-display: swap;
  src: url("../fonts/Pattaya-Regular.woff") format("woff"), url("../fonts/Pattaya-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "primary-font";
  font-display: swap;
  src: url("../fonts/Marmelad-Regular.woff") format("woff"), url("../fonts/Marmelad-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: secondary-font;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #ffffff;
  background-color: #382513;
  border-radius: 9px;
  width: 100%;
  height: 58px;
  position: relative;
  cursor: pointer;
}

.btn span {
  width: 100%;
  height: 58px;
  position: absolute;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: #ffffff;
  border: 1px solid #382513;
  border-radius: 9px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 400;
}

a {
  font-family: secondary-font;
  font-weight: 500;
  text-decoration: none;
  color: #382513;
}

button,
p {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

/** index.html **/

.header {
  padding-top: 24px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/header/background.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 166px;
  height: 50px;
}

.header__logo h1 {
  font-family: logo;
  line-height: 18px;
  color: #382513;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav a {
  font-family: primary-font;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #382513;
  margin-left: 59px;
}

.header__nav a:first-child {
  margin-left: 0;
}

.header__nav a:last-child {
  margin-right: 59px;
}

.header__cart {
  background: url(../img/header/cart.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 48px;
  height: 40px;
  cursor: pointer;
}

.header__cart div {
  position: absolute;
  bottom: 20px;
  left: 14px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: secondary-font;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #382513;
  width: 27px;
  height: 26px;
}

.header-out {
  background: #E9CAAF;
  height: 95px;
}

.intro {
  background: url(../img/intro/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: .99;
  height: 744px;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 122px;
}

.intro__title {
  font-family: logo;
  font-weight: normal;
  line-height: 72px;
  font-size: 64px;
  color: #000000;
  margin-bottom: 32px;
}

.intro__subtitle {
  font-family: secondary-font;
  font-weight: 300;
  line-height: 32px;
  font-size: 22px;
  color: #000000;
  margin-bottom: 48px;
}

.intro__btn {
  font-family: secondary-font;
  font-weight: 500;
  line-height: 32px;
  font-size: 26px;
  color: #ffffff;
  background-color: #382513;
  border-radius: 9px;
  position: relative;
  padding: 20px 73px;
  cursor: pointer;
}

.intro__btn div {
  width: 263px;
  height: 72px;
  position: absolute;
  bottom: -6px;
  right: -6px;
  z-index: -1;
  background: #ffffff;
  border: 1px solid #382513;
  border-radius: 9px;
}

.intro__item {
  position: absolute;
  right: -40px;
  top: -60px;
}

.intro-out__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-out__title {
  font-family: primary-font;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #382513;
}

.intro-out__stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 95px;
  margin-bottom: 36px;
}

.intro-out__stages span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: primary-font;
  font-size: 22px;
  line-height: 20px;
  color: #382513;
  border: 1px solid #382513;
  border-radius: 50%;
  background: #FFF5E5;
  width: 50px;
  height: 50px;
  margin: 0 11px;
}

.intro-out__stages .intro-out__stages-active {
  background-color: #ffffff;
}

.intro-out__wrap {
  width: 100%;
  margin-top: 83px;
}

.intro-out__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.intro-out__item-wrap span span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-out__item-wrap span span p {
  margin-left: 13px;
}

.intro-out__foto {
  width: 100%;
  max-width: 98px;
  height: 98px;
  margin-right: 25px;
}

.intro-out__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../img/about/dashed.svg) top no-repeat;
  padding-top: 14px;
}

.intro-out__total span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-out__cost {
  font-family: secondary-font;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #7C644D;
  margin-left: 26px;
}

.intro-out__price {
  font-family: primary-font;
  font-size: 28px;
  line-height: 30px;
  color: #382513;
}

.intro-out__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #382513;
  width: 100%;
  margin-top: 67px;
  margin-bottom: 91px;
}

.intro-out__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 133px;
  width: 100%;
}

.intro-out__pay span {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #7C644D;
}

.intro-out__pay p {
  font-family: primray-font;
  font-size: 36px;
  line-height: 30px;
  color: #382513;
  margin-left: 12px;
}

.intro-out__pay-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.intro-out__btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-out__btn a {
  max-width: 307px;
}

.intro-out__btn span {
  max-width: 307px;
}

.intro-out__rec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-out__subtitle {
  font-family: primary-font;
  font-size: 30px;
  line-height: 38px;
  color: #382513;
  margin-bottom: 59px;
}

.about {
  padding: 55px 0;
  margin: 103px 0;
  background: url(../img/about/dashed.svg) top no-repeat, url(../img/about/dashed.svg) bottom no-repeat;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 49px;
}

.about__content span {
  font-family: secondary-font;
  font-size: 18px;
  font-weight: normal;
  line-height: 26px;
  color: #382513;
  max-width: 768px;
  padding-bottom: 30px;
}

.about__content .product__title {
  margin-bottom: 55px;
}

.about__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 95px;
  margin-left: 11px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item p {
  font-family: secondary-font;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #382513;
  margin-top: 21px;
}

.process {
  margin-bottom: 130px;
}

.process__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process__content {
  width: 100%;
  margin-top: 82px;
}

.process__content .process__item:nth-of-type(1) span {
  margin-bottom: 110px;
}

.process__content .process__item:nth-of-type(3) span {
  margin-top: 110px;
}

.process__line {
  position: absolute;
  top: -40px;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 105px;
}

.process__item span {
  font-family: secondary-font;
  font-size: 18px;
  font-weight: normal;
  line-height: 26px;
  color: #382513;
  max-width: 597px;
}

.process__item span:nth-child(1) {
  text-align: right;
}

.process__item p {
  font-family: logo;
  font-size: 48px;
  line-height: 50px;
  color: #DB8C3D;
  margin-bottom: 20px;
}

.process__item:nth-of-type(1) .process__foto {
  margin-right: 45px;
}

.process__item:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 132px;
}

.process__item:nth-of-type(2) span {
  max-width: 509px;
}

.process__item:nth-of-type(2) .process__foto {
  margin-left: 45px;
}

.process__item:nth-of-type(2) .process__foto-background {
  left: -140px;
  top: -30px;
}

.process__item:nth-of-type(3) {
  margin-bottom: 0;
}

.process__item:nth-of-type(3) .process__foto {
  margin-right: 30px;
}

.process__item:nth-of-type(3) .process__foto-background {
  left: 50px;
  top: -50px;
}

.process__item:nth-of-type(3) .process__line {
  top: -100px;
  left: 49.5%;
  right: 50.5%;
}

.process__foto {
  position: relative;
}

.process__foto-background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.process__wrap {
  max-width: 509px;
  text-align: end;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__title {
  font-family: primary-font;
  font-weight: normal;
  font-size: 36px;
  line-height: 38px;
  color: #382513;
}

.product__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 89px;
}

.product__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: primary-font;
  font-weight: normal;
  font-size: 24px;
  font-weight: 18px;
  color: #382513;
  height: 50px;
  padding: 0 42px;
  border: 1px solid #000000;
  border-radius: 48px;
  margin-right: 15px;
  cursor: pointer;
}

.product__btn:last-child {
  margin-right: 0;
}

.product__btn-active {
  background: #DB8C3D;
  -webkit-box-shadow: 0px 4px 11px #C09F7F;
          box-shadow: 0px 4px 11px #C09F7F;
  border: none;
}

.product__content {
  width: 100%;
  padding-top: 44px;
  margin: 57px;
  background: url(../img/about/dashed.svg) top no-repeat, url(../img/about/dashed.svg) bottom no-repeat;
  position: relative;
}

.product__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__item {
  margin-right: 49px;
  height: 100%;
  min-height: 430px;
}

.product__item:last-child {
  margin-right: 0;
}

.product__item:hover .product__item-active {
  margin-top: -4%;
  opacity: .9;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.product__item:hover .product__cart {
  opacity: 1;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-delay: .15s;
       -o-transition-delay: .15s;
          transition-delay: .15s;
}

.product__item:hover .product__cart-wrap span {
  opacity: .99;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .18s;
       -o-transition-duration: .18s;
          transition-duration: .18s;
  -webkit-transition-delay: .18s;
       -o-transition-delay: .18s;
          transition-delay: .18s;
}

.product__item-active {
  position: absolute;
  width: 100%;
  max-width: 258px;
  height: 100%;
  max-height: 190px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  background-color: #ffffff;
}

.product__foto {
  width: 100%;
  max-width: 280px;
}

.product__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 17px;
  margin-bottom: 33px;
}

.product__text h4 {
  font-family: primary-font;
  font-size: 22px;
  font-weight: 400;
  line-height: 18px;
  color: #382513;
}

.product__text span {
  font-family: primary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  color: #9C7044;
  margin-right: 5px;
}

.product__price {
  font-family: primary-font;
  font-size: 30px;
  line-height: 30px;
  color: #382513;
  margin-bottom: 17px;
}

.product__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: secondary-font;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #ffffff;
  background-color: #382513;
  border-radius: 9px;
  position: absolute;
  bottom: -57px;
  z-index: 2;
  width: 100%;
  max-width: 253px;
  height: 58px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition-duration: .12s;
       -o-transition-duration: .12s;
          transition-duration: .12s;
  -webkit-transition-delay: .12s;
       -o-transition-delay: .12s;
          transition-delay: .12s;
}

.product__cart img {
  margin-left: 3px;
}

.product__cart-wrap {
  position: relative;
}

.product__cart-wrap span {
  width: 100%;
  max-width: 253px;
  height: 58px;
  position: absolute;
  bottom: -62px;
  right: -1px;
  z-index: 1;
  background: #ffffff;
  border: 1px solid #382513;
  border-radius: 9px;
  opacity: 0;
  -webkit-transition-duration: .09s;
       -o-transition-duration: .09s;
          transition-duration: .09s;
  -webkit-transition-delay: .09s;
       -o-transition-delay: .09s;
          transition-delay: .09s;
}

.product__button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__button a {
  max-width: 219px;
}

.product__button span {
  max-width: 219px;
}

.info {
  margin-top: 158px;
  margin-bottom: 206px;
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 84px;
}

.info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.info__text h6 {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  color: #382513;
  margin-top: 5px;
  margin-bottom: 15px;
}

.info__text span {
  font-family: logo;
  font-size: 36px;
  font-weight: normal;
  line-height: 38px;
  color: #DB8C3D;
}

.info__text p {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  color: #382513;
  margin-top: 33px;
  margin-bottom: 82px;
}

.info__text .cart__btn {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.info__btn {
  opacity: .99;
}

.info__btn a {
  max-width: 266px;
}

.info__btn span {
  max-width: 266px;
}

.info__foto {
  width: 100%;
  max-width: 666px;
}

.info__foto-background {
  position: absolute;
  left: -60px;
  top: 50px;
  z-index: -1;
}

.time {
  margin-top: 128px;
  margin-bottom: 213px;
}

.time__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time__title {
  font-family: primary-font;
  font-size: 28px;
  font-weight: normal;
  line-height: 38px;
  color: #382513;
}

.time__content {
  position: relative;
  border-radius: 9px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 23px;
  padding-left: 39px;
  padding-right: 38px;
  margin-top: 84px;
  background: #FFF5E5;
}

.time__line {
  width: 100%;
  border: 1px solid #B08E6E;
  margin-top: 56px;
  margin-bottom: 34px;
}

.time__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.time__wrap p {
  font-family: primary-font;
  font-size: 24px;
  line-height: 26px;
  color: #382513;
}

.time__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.time__item span {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  color: #382513;
  margin-bottom: 29px;
}

.time__item p {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  color: #382513;
  text-align: center;
  margin-bottom: 29px;
}

.time__item b {
  margin-left: 13px;
  padding-right: 13px;
}

.time__item strong {
  padding-right: 22px;
}

.time__background {
  position: absolute;
  left: 13px;
  top: 15px;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: black; stroke-width: 1; stroke-dasharray: 5 5'/></svg>");
  border-radius: 6px;
}

.time__background picture {
  position: absolute;
}

.time__background picture:nth-of-type(1) {
  right: -330px;
  top: -80px;
}

.time__background picture:nth-of-type(2) {
  left: -160px;
  bottom: -120px;
}

.footer {
  color: #ffffff;
  background-color: #382513;
  padding-top: 24px;
  padding-bottom: 73px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo span {
  font-family: secondary-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 23px;
  margin-top: 18px;
}

.footer__logo span:nth-of-type(2) {
  margin-top: 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 88px;
  margin-right: 221px;
  margin-top: 21px;
}

.footer__nav a {
  font-family: secondary-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #ffffff;
  margin-bottom: 22px;
}

.footer__city {
  margin-top: 7px;
  margin-bottom: 22px;
}

.footer__city span {
  font-family: primary-color;
  font-size: 28px;
  line-height: 24px;
  margin-left: 7px;
}

.footer__out {
  margin-bottom: 45px;
}

.footer__out span {
  font-family: secondary-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}

.footer__out p {
  font-family: secondary-font;
  font-size: 28px;
  font-weight: normal;
  line-height: 31px;
  margin-top: 8px;
}

.footer__social a {
  margin-right: 27px;
}

/** out-2.html **/

.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 77px;
  margin-bottom: 88px;
  width: 100%;
  max-width: 710px;
}

.form__content .form__wrap:nth-of-type(1) input {
  max-width: 343px;
  margin-right: 25px;
}

.form__content .form__wrap:nth-of-type(1) input:last-child {
  margin-right: 0;
}

.form__content .form__wrap:nth-of-type(2) input {
  max-width: 152px;
  margin-right: 34px;
}

.form__content .form__wrap:nth-of-type(2) input:last-child {
  margin-right: 0;
}

.form__content .form__wrap:nth-of-type(3) input {
  width: auto;
}

.form__content input,
.form__content textarea {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  color: #7C644D;
  background: #FFFFFF;
  border: 2px solid #E9CAAF;
  border-radius: 9px;
  width: 100%;
  margin-bottom: 20px;
  padding: 11px 16px;
  padding-right: 0;
}

.form__content input:focus,
.form__content textarea:focus {
  outline: none;
  border: 2px solid #382513;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.form__content textarea {
  max-height: 149px;
  resize: none;
}

.form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.form__wrap label {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #382513;
}

.form__wrap label:first-child {
  margin-right: 74px;
}

.form__input-radio {
  position: absolute;
  opacity: 0;
  z-index: -1234;
}

.form__label {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  position: relative;
  margin-left: 34px;
  margin-bottom: 18px;
}

.form__label::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/form/circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -40px;
  top: -5px;
  z-index: 1;
}

.form__input-radio:checked + .form__label::before {
  background: url(../img/form/circle-active.svg);
}

/** out-3.html **/

.thanks__text {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  color: #7C644D;
  margin-top: 43px;
}

/** plug.html **/

.plug {
  margin-top: 51px;
}

.plug__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.plug img {
  margin-left: 75px;
}

/** popup.html **/

.popup__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFAF3;
  border-radius: 9px;
  padding-top: 73px;
  padding-bottom: 53px;
  padding-left: 36px;
}

.popup__foto {
  width: 100%;
  max-width: 524px;
  height: 470px;
  margin-right: 31px;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.popup__wrap p {
  font-family: primary-font;
  font-size: 24px;
  line-height: 18px;
  color: #9C7044;
  margin-top: 6px;
}

.popup__title {
  font-family: primary-font;
  font-size: 34px;
  line-height: 36px;
  color: #382513;
  margin-right: 24px;
}

.popup__subtitle {
  font-family: secondary-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #382513;
  margin-bottom: 57px;
}

.popup__calories {
  font-family: primary-font;
  font-size: 20px;
  line-height: 18px;
  color: #382513;
  border-bottom: 2px dashed #7C644D;
  margin-bottom: 27px;
  padding-bottom: 18px;
}

.popup__hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}

.popup__price {
  font-family: primary-font;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: #382513;
  margin-bottom: 39px;
}

.popup__btn {
  opacity: .99;
}

.popup__btn a {
  max-width: 253px;
}

.popup__btn span {
  max-width: 253px;
}

.cart {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 541px;
  background: #FFFAF3;
  padding: 0 25px;
  padding-bottom: 47px;
  opacity: .99;
  position: fixed;
  right: 0;
  top: 0;
}

.cart__inner {
  width: 100%;
}

.cart__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
  margin-bottom: 33px;
}

.cart__info p {
  font-family: primary-font;
  font-size: 22px;
  line-height: 22px;
  color: #382513;
  white-space: nowrap;
}

.cart__close {
  font-size: 38px;
  color: #382513;
  cursor: pointer;
  margin-top: 8px;
}

.cart__info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__info-wrap div {
  font-family: secondary-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #382513;
  margin-right: 4px;
}

.cart__info-wrap p {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  color: #382513;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/about/dashed.svg) top no-repeat;
  padding: 33px 0;
}

.cart__foto {
  width: 100%;
  max-width: 165px;
  margin-right: 31px;
}

.cart__title {
  font-family: primary-font;
  font-size: 22px;
  line-height: 18px;
  color: #382513;
  margin-bottom: 3px;
}

.cart__item-wrap p {
  font-family: primary-font;
  font-size: 20px;
  line-height: 22px;
  color: #9C7044;
  margin-bottom: 27px;
}

.cart__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.cart__nav p {
  font-family: secondary-font;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #382513;
  margin-right: 20px;
  margin-bottom: 0;
}

.cart__nav button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E9CBAF;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  margin-right: 9px;
  cursor: pointer;
}

.cart__nav button:nth-of-type(2) {
  padding-bottom: 5px;
}

.cart__nav button:last-child {
  background: none;
  border-radius: none;
  margin-right: 0;
  margin-left: 39px;
}

.cart__qty {
  font-family: secondary-font;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #382513;
  margin-right: 5px;
}

.cart__total {
  background: url(../img/about/dashed.svg) top no-repeat;
  padding-top: 57px;
  margin-bottom: 235px;
}

.cart__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.cart__btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: secondary-font;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #ffffff;
  background-color: #382513;
  border-radius: 9px;
  width: 100%;
  max-width: 307px;
  height: 58px;
  position: relative;
  cursor: pointer;
}

.cart__btn span {
  width: 100%;
  max-width: 307px;
  height: 58px;
  position: absolute;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: #ffffff;
  border: 1px solid #382513;
  border-radius: 9px;
}

.cartActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 997px) {
  .header__nav nav {
    display: none;
  }
}
@supports (-webkit-appearance:none){
.header__logo{background:url(../img/header/background.svg)}
.header__cart{background:url(../img/header/cart.svg)}
.intro{background:url(../img/intro/background.webp)}
.intro-out__total{background:url(../img/about/dashed.svg) top no-repeat}
.about{background:url(../img/about/dashed.svg) top no-repeat, url(../img/about/dashed.svg) bottom no-repeat}
.product__content{background:url(../img/about/dashed.svg) top no-repeat, url(../img/about/dashed.svg) bottom no-repeat}
.time__background{background-image:url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: black; stroke-width: 1; stroke-dasharray: 5 5'/></svg>")}
.form__label::before{background:url(../img/form/circle.svg)}
.form__input-radio:checked + .form__label::before{background:url(../img/form/circle-active.svg)}
.cart__item{background:url(../img/about/dashed.svg) top no-repeat}
.cart__total{background:url(../img/about/dashed.svg) top no-repeat}
}

 @media screen and (max-width: 997px){

@supports (-webkit-appearance:none){

}

}
