@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "secondary-font";
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "logo";
  font-display: swap;
  src: url("../fonts/Pattaya-Regular.woff") format("woff"), url("../fonts/Pattaya-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "primary-font";
  font-display: swap;
  src: url("../fonts/Marmelad-Regular.woff") format("woff"), url("../fonts/Marmelad-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: secondary-font;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #ffffff;
  background-color: #382513;
  border-radius: 9px;
  width: 100%;
  height: 58px;
  position: relative;
  cursor: pointer;
}

.btn span {
  width: 100%;
  height: 58px;
  position: absolute;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: #ffffff;
  border: 1px solid #382513;
  border-radius: 9px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 400;
}

a {
  font-family: secondary-font;
  font-weight: 500;
  text-decoration: none;
  color: #382513;
}

button,
p {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

/** index.html **/

.header {
  padding-top: 24px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/header/background.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 166px;
  height: 50px;
}

.header__logo h1 {
  font-family: logo;
  line-height: 18px;
  color: #382513;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav a {
  font-family: primary-font;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #382513;
  margin-left: 59px;
}

.header__nav a:first-child {
  margin-left: 0;
}

.header__nav a:last-child {
  margin-right: 59px;
}

.header__cart {
  background: url(../img/header/cart.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 48px;
  height: 40px;
  cursor: pointer;
}

.header__cart div {
  position: absolute;
  bottom: 20px;
  left: 14px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: secondary-font;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #382513;
  width: 27px;
  height: 26px;
}

.header__menu-burger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 2px;
}

.header__menu-burger span:nth-of-type(1) {
  width: 41px;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-radius: 55px;
  background-color: #382513;
  margin-bottom: 7px;
}

.header__menu-burger span:nth-of-type(2) {
  width: 41px;
  height: 4px;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 5;
  border-radius: 55px;
  background-color: #382513;
  margin-bottom: 7px;
}

.header__menu-burger span:nth-of-type(3) {
  width: 41px;
  height: 4px;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 5;
  border-radius: 55px;
  background-color: #382513;
}

.header__burger-top-active {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 10px;
  -webkit-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
}

.header__burger-middle-active {
  display: none;
}

.header__burger-bottom-active {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 1px;
  margin-top: 10px;
  -webkit-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
}

.header-out {
  background: #E9CAAF;
  height: 95px;
}

.intro {
  background: url(../img/intro/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: .99;
  height: 744px;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.intro__title {
  font-family: logo;
  font-weight: normal;
  line-height: 72px;
  font-size: 64px;
  color: #000000;
  margin-bottom: 32px;
}

.intro__subtitle {
  font-family: secondary-font;
  font-weight: 300;
  line-height: 32px;
  font-size: 22px;
  color: #000000;
  margin-bottom: 48px;
}

.intro__btn {
  max-width: 266px;
}

.intro__btn a {
  font-size: 24px;
  line-height: 32px;
}

.intro__foto {
  width: 50%;
  margin-top: 62px;
  padding-left: 100px;
}

.intro-out__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-out__title {
  font-family: primary-font;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #382513;
}

.intro-out__stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 95px;
  margin-bottom: 36px;
}

.intro-out__stages span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: primary-font;
  font-size: 22px;
  line-height: 20px;
  color: #382513;
  border: 1px solid #382513;
  border-radius: 50%;
  background: #FFF5E5;
  width: 50px;
  height: 50px;
  margin: 0 11px;
}

.intro-out__stages .intro-out__stages-active {
  background-color: #ffffff;
}

.intro-out__wrap {
  width: 100%;
  margin-top: 83px;
}

.intro-out__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.intro-out__item-wrap span span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-out__item-wrap span span p {
  margin-left: 13px;
}

.intro-out__foto {
  width: 100%;
  max-width: 98px;
  height: 98px;
  margin-right: 25px;
}

.intro-out__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../img/about/dashed.svg) top no-repeat;
  padding-top: 14px;
}

.intro-out__total span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-out__cost {
  font-family: secondary-font;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #7C644D;
  margin-left: 26px;
}

.intro-out__price {
  font-family: primary-font;
  font-size: 28px;
  line-height: 30px;
  color: #382513;
}

.intro-out__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #382513;
  width: 100%;
  margin-top: 67px;
  margin-bottom: 91px;
}

.intro-out__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 133px;
  width: 100%;
}

.intro-out__pay span {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #7C644D;
}

.intro-out__pay p {
  font-family: primray-font;
  font-size: 36px;
  line-height: 30px;
  color: #382513;
  margin-left: 12px;
}

.intro-out__pay-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.intro-out__btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-out__btn a {
  max-width: 307px;
}

.intro-out__btn span {
  max-width: 307px;
}

.intro-out__rec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-out__subtitle {
  font-family: primary-font;
  font-size: 30px;
  line-height: 38px;
  color: #382513;
  margin-bottom: 59px;
}

.about {
  margin: 103px 0;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/about/dashed.svg) top no-repeat, url(../img/about/dashed.svg) bottom no-repeat;
  padding-top: 55px;
  padding-bottom: 59px;
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 49px;
}

.about__content span {
  font-family: secondary-font;
  font-size: 18px;
  font-weight: normal;
  line-height: 26px;
  color: #382513;
  max-width: 768px;
  padding-bottom: 30px;
}

.about__content .product__title {
  margin-bottom: 55px;
}

.about__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 95px;
  margin-left: 11px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item p {
  font-family: secondary-font;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #382513;
  margin-top: 21px;
}

.process {
  margin-bottom: 130px;
}

.process__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process__content {
  width: 100%;
  margin-top: 82px;
}

.process__content .process__item:nth-of-type(1) .process__wrap {
  position: absolute;
  right: 9%;
  width: 590px;
}

.process__content .process__item:nth-of-type(1) span {
  margin-bottom: 110px;
}

.process__content .process__item:nth-of-type(2) .process__foto {
  width: 50%;
}

.process__content .process__item:nth-of-type(2) .process__wrap {
  position: absolute;
  left: 10%;
  max-width: 509px;
  text-align: end;
}

.process__content .process__item:nth-of-type(3) .process__wrap {
  position: absolute;
  right: 8%;
  width: 590px;
}

.process__content .process__item:nth-of-type(3) span {
  margin-top: 110px;
}

.process__line {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 56px;
}

.process__item span {
  font-family: secondary-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #382513;
  max-width: 597px;
}

.process__item span:nth-child(1) {
  text-align: right;
}

.process__item p {
  font-family: logo;
  font-size: 48px;
  line-height: 50px;
  color: #DB8C3D;
  margin-bottom: 20px;
}

.process__item:nth-of-type(1) .process__foto {
  margin-right: 45px;
}

.process__item:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 132px;
}

.process__item:nth-of-type(2) span {
  max-width: 509px;
}

.process__item:nth-of-type(2) .process__foto {
  margin-left: 45px;
}

.process__item:nth-of-type(3) {
  margin-bottom: 0;
}

.process__item:nth-of-type(3) .process__foto {
  margin-right: 30px;
}

.process__item:nth-of-type(3) .process__line {
  top: -70px;
  left: 49.5%;
  right: 50.5%;
}

.process__line-mobile {
  display: none;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__title {
  font-family: primary-font;
  font-weight: normal;
  font-size: 36px;
  line-height: 38px;
  color: #382513;
}

.product__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 69px;
}

.product__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: primary-font;
  font-weight: normal;
  font-size: 24px;
  font-weight: 18px;
  color: #382513;
  height: 50px;
  padding: 0 42px;
  border: 1px solid #000000;
  border-radius: 48px;
  margin-right: 15px;
  margin-top: 20px;
  cursor: pointer;
}

.product__btn:last-child {
  margin-right: 0;
}

.product__btn-active {
  background: #DB8C3D;
  -webkit-box-shadow: 0px 4px 11px #C09F7F;
          box-shadow: 0px 4px 11px #C09F7F;
  border: none;
}

.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 25%;
  max-width: 258px;
  height: 100%;
  min-height: 430px;
  margin: 0 23px;
}

.product__item:first-child {
  margin-left: 0;
}

.product__item:nth-child(4n+4) {
  margin-right: 0;
}

.product__item:nth-child(6n+5) {
  margin-left: 0;
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-top: 44px;
  margin: 57px;
  background: url(../img/about/dashed.svg) top no-repeat, url(../img/about/dashed.svg) bottom no-repeat;
  position: relative;
}

.product__item-wrap {
  position: relative;
  width: 100%;
}

.product__item-wrap:hover .product__item-active {
  margin-top: -25%;
  opacity: .9;
  transition-all: 1s;
}

.product__item-wrap:hover .product__cart {
  opacity: 1;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-delay: .15s;
       -o-transition-delay: .15s;
          transition-delay: .15s;
}

.product__item-wrap:hover .product__cart-wrap span {
  opacity: .99;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .18s;
       -o-transition-duration: .18s;
          transition-duration: .18s;
  -webkit-transition-delay: .18s;
       -o-transition-delay: .18s;
          transition-delay: .18s;
}

.product__item-active {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 190px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  padding-right: 10px;
  background-color: #ffffff;
}

.product__foto {
  width: 100%;
  max-width: 280px;
}

.product__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 17px;
  margin-bottom: 33px;
}

.product__text h4 {
  font-family: primary-font;
  font-size: 22px;
  font-weight: 400;
  line-height: 18px;
  color: #382513;
}

.product__text span {
  font-family: primary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  color: #9C7044;
  margin-right: 5px;
}

.product__price {
  font-family: primary-font;
  font-size: 30px;
  line-height: 30px;
  color: #382513;
  margin-bottom: 17px;
}

.product__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: secondary-font;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #ffffff;
  background-color: #382513;
  border-radius: 9px;
  position: absolute;
  bottom: -57px;
  z-index: 2;
  width: 100%;
  max-width: 253px;
  height: 58px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition-duration: .12s;
       -o-transition-duration: .12s;
          transition-duration: .12s;
  -webkit-transition-delay: .12s;
       -o-transition-delay: .12s;
          transition-delay: .12s;
}

.product__cart img {
  margin-left: 3px;
}

.product__cart-wrap {
  position: relative;
}

.product__cart-wrap span {
  width: 100%;
  max-width: 253px;
  height: 58px;
  position: absolute;
  bottom: -62px;
  right: -6px;
  z-index: 1;
  background: #ffffff;
  border: 1px solid #382513;
  border-radius: 9px;
  opacity: 0;
  -webkit-transition-duration: .09s;
       -o-transition-duration: .09s;
          transition-duration: .09s;
  -webkit-transition-delay: .09s;
       -o-transition-delay: .09s;
          transition-delay: .09s;
}

.product__button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__button a {
  max-width: 219px;
}

.product__button span {
  max-width: 219px;
}

.info {
  margin-top: 158px;
  margin-bottom: 206px;
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  margin-top: 84px;
}

.info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__text h6 {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  color: #382513;
  margin-top: 5px;
  margin-bottom: 34px;
}

.info__text span {
  font-family: logo;
  font-size: 36px;
  font-weight: normal;
  line-height: 38px;
  color: #DB8C3D;
}

.info__text p {
  font-family: secondary-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  color: #382513;
  margin-top: 10px;
  margin-bottom: 45px;
}

.info__text .cart__btn {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.info__btn {
  opacity: .99;
}

.info__btn a {
  max-width: 266px;
}

.info__btn span {
  max-width: 266px;
}

.info__foto {
  width: 100%;
  max-width: 666px;
}

.info__foto-background {
  position: absolute;
  left: -60px;
  top: 50px;
  z-index: -1;
}

.time {
  margin-top: 128px;
  padding-bottom: 213px;
  overflow: hidden;
}

.time__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time__title {
  font-family: primary-font;
  font-size: 28px;
  font-weight: normal;
  line-height: 38px;
  color: #382513;
}

.time__content {
  position: relative;
  border-radius: 9px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 23px;
  padding-left: 39px;
  padding-right: 38px;
  margin-top: 84px;
  background: #FFF5E5;
}

.time__line {
  width: 100%;
  border: 1px solid #B08E6E;
  margin-top: 56px;
  margin-bottom: 34px;
}

.time__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 14px;
}

.time__wrap p {
  font-family: primary-font;
  font-size: 24px;
  line-height: 26px;
  color: #382513;
}

.time__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.time__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.time__item p,
.time__item span {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  color: #382513;
  width: 25%;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 29px;
}

.time__item span:nth-of-type(2) {
  text-align: end;
}

.time__item p {
  padding-right: 30px;
}

.time__item b {
  margin-left: 13px;
  padding-right: 13px;
}

.time__item strong {
  padding-right: 22px;
}

.time__background {
  position: absolute;
  left: 13px;
  top: 15px;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: black; stroke-width: 1; stroke-dasharray: 5 5'/></svg>");
  border-radius: 6px;
}

.time__background picture {
  position: absolute;
}

.time__background picture:nth-of-type(1) {
  right: -330px;
  top: -80px;
}

.time__background picture:nth-of-type(2) {
  left: -160px;
  bottom: -120px;
}

.footer {
  color: #ffffff;
  background-color: #382513;
  padding-top: 24px;
  padding-bottom: 73px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo span {
  font-family: secondary-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 23px;
  margin-top: 18px;
}

.footer__logo span:nth-of-type(2) {
  margin-top: 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 88px;
  margin-right: 221px;
  margin-top: 21px;
}

.footer__nav a {
  font-family: secondary-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #ffffff;
  margin-bottom: 22px;
}

.footer__nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__city {
  margin-top: 7px;
  margin-bottom: 22px;
}

.footer__city span {
  font-family: primary-color;
  font-size: 28px;
  line-height: 24px;
  margin-left: 7px;
}

.footer__out {
  margin-bottom: 45px;
}

.footer__out span {
  font-family: secondary-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}

.footer__out p {
  font-family: primary-font;
  font-size: 28px;
  font-weight: normal;
  line-height: 31px;
  margin-top: 8px;
}

.footer__social a {
  margin-right: 27px;
}

/** out-2.html **/

.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 77px;
  margin-bottom: 88px;
  width: 100%;
  max-width: 710px;
}

.form__content .form__wrap:nth-of-type(1) input {
  max-width: 343px;
  margin-right: 25px;
}

.form__content .form__wrap:nth-of-type(1) input:last-child {
  margin-right: 0;
}

.form__content .form__wrap:nth-of-type(2) input {
  max-width: 152px;
  margin-right: 34px;
}

.form__content .form__wrap:nth-of-type(2) input:last-child {
  margin-right: 0;
}

.form__content .form__wrap:nth-of-type(3) input {
  width: auto;
}

.form__content input,
.form__content textarea {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  color: #7C644D;
  background: #FFFFFF;
  border: 2px solid #E9CAAF;
  border-radius: 9px;
  width: 100%;
  margin-bottom: 20px;
  padding: 11px 16px;
  padding-right: 0;
}

.form__content input:focus,
.form__content textarea:focus {
  outline: none;
  border: 2px solid #382513;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.form__content textarea {
  max-height: 149px;
  resize: none;
}

.form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.form__wrap label {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #382513;
}

.form__wrap label:first-child {
  margin-right: 74px;
}

.form__input-radio {
  position: absolute;
  opacity: 0;
  z-index: -1234;
}

.form__label {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  position: relative;
  margin-left: 34px;
  margin-bottom: 18px;
}

.form__label::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/form/circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -40px;
  top: -5px;
  z-index: 1;
}

.form__input-radio:checked + .form__label::before {
  background: url(../img/form/circle-active.svg);
}

/** out-3.html **/

.thanks__text {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  color: #7C644D;
  margin-top: 43px;
}

/** plug.html **/

.plug {
  margin-top: 51px;
}

.plug__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.plug img {
  margin-left: 75px;
}

/** popup.html **/

.popup__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFAF3;
  border-radius: 9px;
  padding-top: 73px;
  padding-bottom: 53px;
  padding-left: 36px;
}

.popup__foto {
  width: 100%;
  max-width: 524px;
  height: 470px;
  margin-right: 31px;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.popup__wrap p {
  font-family: primary-font;
  font-size: 24px;
  line-height: 18px;
  color: #9C7044;
  margin-top: 6px;
}

.popup__title {
  font-family: primary-font;
  font-size: 34px;
  line-height: 36px;
  color: #382513;
  margin-right: 24px;
}

.popup__subtitle {
  font-family: secondary-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #382513;
  margin-bottom: 57px;
}

.popup__calories {
  font-family: primary-font;
  font-size: 20px;
  line-height: 18px;
  color: #382513;
  border-bottom: 2px dashed #7C644D;
  margin-bottom: 27px;
  padding-bottom: 18px;
}

.popup__hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}

.popup__price {
  font-family: primary-font;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: #382513;
  margin-bottom: 39px;
}

.popup__btn {
  opacity: .99;
}

.popup__btn a {
  max-width: 253px;
}

.popup__btn span {
  max-width: 253px;
}

.cart {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 541px;
  background: #FFFAF3;
  padding: 0 25px;
  padding-bottom: 47px;
  opacity: .99;
  position: fixed;
  right: 0;
  top: 0;
}

.cart__inner {
  width: 100%;
}

.cart__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
  margin-bottom: 33px;
}

.cart__info p {
  font-family: primary-font;
  font-size: 22px;
  line-height: 22px;
  color: #382513;
  white-space: nowrap;
}

.cart__close {
  font-size: 38px;
  color: #382513;
  cursor: pointer;
  margin-top: 8px;
}

.cart__info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__info-wrap div {
  font-family: secondary-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #382513;
  margin-right: 4px;
}

.cart__info-wrap p {
  font-family: secondary-font;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  color: #382513;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/about/dashed.svg) top no-repeat;
  padding: 33px 0;
}

.cart__foto {
  width: 100%;
  max-width: 165px;
  margin-right: 31px;
}

.cart__title {
  font-family: primary-font;
  font-size: 22px;
  line-height: 18px;
  color: #382513;
  margin-bottom: 3px;
}

.cart__item-wrap p {
  font-family: primary-font;
  font-size: 20px;
  line-height: 22px;
  color: #9C7044;
  margin-bottom: 27px;
}

.cart__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.cart__nav p {
  font-family: secondary-font;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #382513;
  margin-right: 20px;
  margin-bottom: 0;
}

.cart__nav button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E9CBAF;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  margin-right: 9px;
  cursor: pointer;
}

.cart__nav button:nth-of-type(2) {
  padding-bottom: 5px;
}

.cart__nav button:last-child {
  background: none;
  border-radius: none;
  margin-right: 0;
  margin-left: 39px;
}

.cart__qty {
  font-family: secondary-font;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #382513;
  margin-right: 5px;
}

.cart__total {
  background: url(../img/about/dashed.svg) top no-repeat;
  padding-top: 57px;
  margin-bottom: 235px;
}

.cart__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.cart__btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: secondary-font;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #ffffff;
  background-color: #382513;
  border-radius: 9px;
  width: 100%;
  max-width: 307px;
  height: 58px;
  position: relative;
  cursor: pointer;
}

.cart__btn span {
  width: 100%;
  max-width: 307px;
  height: 58px;
  position: absolute;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: #ffffff;
  border: 1px solid #382513;
  border-radius: 9px;
}

.cartActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/** media **/

@media screen and (max-width: 1270px) {
  /** intro **/

  .intro__foto {
    width: 38%;
    padding-left: 0;
  }

  .intro__foto img {
    width: 490px;
  }

  .intro__content br {
    display: none;
  }

  /** process **/

  .process__content .process__item:nth-of-type(1) .process__wrap {
    position: relative;
  }

  .process__content .process__item:nth-of-type(2) .process__foto {
    margin-left: 0;
    width: 100%;
  }

  .process__content .process__item:nth-of-type(2) .process__wrap {
    position: relative;
  }

  .process__content .process__item:nth-of-type(3) .process__wrap {
    position: relative;
  }

  /** product **/

  .product__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .product__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .product__item {
    width: 33.3333%;
    max-width: auto;
  }

  .product__item:first-child {
    margin-left: 23px;
  }

  .product__item:nth-child(4n+4) {
    margin-right: 23px;
  }

  .product__item:nth-child(6n+5) {
    margin-left: 23px;
  }

  /** info **/

  .info {
    margin-top: 90px;
  }

  .info__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .info__foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 90px;
  }

  .info__foto img {
    max-width: 450px;
  }

  .info__foto-background {
    top: 140px;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .info__btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 997px) {
  /** header **/

  .header__nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-top: 10px;
  }

  .header__nav nav {
    display: none;
  }

  .header__menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /** intro **/

  .intro__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .intro__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .intro__content .info__btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .intro__title {
    font-size: 42px;
    line-height: 46px;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 13px;
  }

  .intro__subtitle {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 30px;
    max-width: 710px;
    text-align: center;
  }

  .intro__foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .intro__foto img {
    width: 100%;
    max-width: 281px;
    text-align: center;
  }

  /** about **/

  .about__foto {
    margin-bottom: 36px;
  }

  .about__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__item {
    width: 33.3333%;
    margin-bottom: 25px;
  }

  .about__content-wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 24px;
  }

  /** process **/

  .process__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .process__content {
    padding: 0 30px;
  }

  .process__content .process__item:nth-of-type(1) .process__wrap {
    right: 0;
  }

  .process__content .process__item:nth-of-type(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .process__content .process__item:nth-of-type(2) .process__wrap {
    left: 0;
  }

  .process__content .process__item:nth-of-type(3) .process__wrap {
    right: 0;
  }

  .process__line {
    display: none;
  }

  .process__foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    magin: 0;
  }

  .process__wrap {
    max-width: 100%;
    margin-top: 72px;
  }

  .process__wrap p {
    font-size: 38px;
  }

  /** product **/

  .product__item {
    width: 50%;
    max-width: auto;
    margin: 0 16px;
  }

  .product__item:first-child {
    margin: 0 16px;
  }

  .product__item:nth-child(4n+4) {
    margin: 0;
  }

  .product__item:nth-child(6n+5) {
    margin: 0;
  }

  .product__item:nth-child(2n+2) {
    margin: 0 16px;
  }

  .product__item:nth-child(3n+2) {
    margin: 0 16px;
  }

  /** time **/

  .time__wrap p {
    font-size: 20px;
    white-space: nowrap;
  }

  .time__item p,
  .time__item span {
    font-size: 16px;
    white-space: nowrap;
  }

  /** footer **/

  .footer__nav {
    margin-right: 130px;
  }

  /** button **/

  .btn a {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 684px) {
  /** product **/

  .product__item {
    width: 50%;
    max-width: auto;
    margin: 0 8px;
  }

  .product__item:first-child {
    margin: 0 8px;
  }

  .product__item:nth-child(4n+4) {
    margin: 0;
  }

  .product__item:nth-child(6n+5) {
    margin: 0;
  }

  .product__item:nth-child(2n+2) {
    margin: 0 8px;
  }

  .product__item:nth-child(3n+2) {
    margin: 0 8px;
  }

  /** time **/

  .time {
    margin-top: 0;
  }

  .time__title {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
  }

  .time__content {
    margin-top: 36px;
    padding-bottom: 74px;
  }

  .time__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
    padding-left: 0;
  }

  .time__wrap p {
    margin-bottom: 25px;
    padding-right: 25px;
  }

  .time__wrap p:nth-of-type(2) {
    display: none;
  }

  .time__wrap p:nth-of-type(3) {
    display: none;
  }

  .time__line {
    display: none;
  }

  .time__item-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .time__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #B08E6E;
    padding: 25px 0;
    width: 100%;
  }

  .time__item p,
  .time__item span {
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 15px;
    width: 100%;
  }

  .time__item span:nth-of-type(2) {
    text-align: center;
  }

  .time__background picture:nth-of-type(1) {
    right: -80px;
    top: auto;
    bottom: -100px;
  }

  .time__background picture:nth-of-type(1) img {
    max-width: 290px;
  }

  .time__background picture:nth-of-type(2) {
    left: -70px;
    bottom: -70px;
  }

  .time__background picture:nth-of-type(2) img {
    width: 100%;
    max-width: 223px;
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  /** footer **/

  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__logo {
    margin-bottom: 47px;
  }

  .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0;
    margin-bottom: 18px;
    max-width: 320px;
    padding-bottom: 49px;
    border-bottom: 1px solid #FFFFFF;
  }

  .footer__nav div:nth-of-type(1) {
    margin-right: 43px;
  }

  .footer__out {
    margin-bottom: 79px;
  }

  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__social picture img {
    width: 44px;
    height: 44px;
  }
}

@media screen and (max-width: 576px) {
  /** header **/

  .header__cart {
    background: url(../img/header/cart-mobile.svg);
    width: 38px;
    height: 32px;
  }

  .header__cart div {
    left: 8px;
  }

  /** intro **/

  .intro {
    background: url(../img/intro/background-mobile.jpg);
    height: 803px;
  }

  .intro__title {
    font-size: 34px;
  }

  .intro__subtitle {
    font-size: 16px;
    text-align: center;
  }

  .intro__foto img {
    max-width: 281px;
  }

  .intro__btn {
    max-width: 169px;
  }

  /** about **/

  .about {
    margin-top: 44px;
    margin-bottom: 40px;
  }

  .about__inner {
    padding-top: 18px;
    padding-bottom: 52px;
  }

  .about__wrap .product__title {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 23px;
  }

  .about__wrap span {
    font-size: 14px;
    line-height: 24px;
  }

  .about__content {
    width: 100%;
    margin-left: 0;
  }

  .about__foto {
    width: 100%;
  }

  .about__content-wrap {
    width: 100%;
  }

  .about__item {
    width: 50%;
  }

  /** process **/

  .process {
    margin-bottom: 52px;
  }

  .process .product__title {
    font-size: 28px;
    line-height: 36px;
  }

  .process__foto-item {
    width: 100%;
    max-width: 320px;
  }

  .process__content {
    margin-top: 56px;
    padding: 0;
  }

  .process__content .process__foto:nth-of-type(1) {
    margin-right: 0;
  }

  .process__content .process__item .process__line-mobile {
    position: absolute;
    z-index: 1;
    display: block;
  }

  .process__content .process__item:nth-of-type(1) .process__line-mobile {
    right: -250px;
    top: 120px;
  }

  .process__content .process__item:nth-of-type(2) .process__line-mobile {
    left: -210px;
  }

  .process__content .process__item:nth-of-type(3) .process__line-mobile {
    right: -200px;
    bottom: 320px;
  }

  .process__wrap {
    margin-top: 32px;
  }

  .process__wrap p {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 6px;
  }

  .process__wrap span {
    font-size: 14px;
    line-height: 24px;
  }

  .process__item {
    margin: 0;
    margin-bottom: 61px;
    overflow-x: hidden;
  }

  .process__item:nth-of-type(2) {
    margin-bottom: 61px;
  }

  /** product **/

  .product__item {
    width: 45%;
    max-width: 100%;
    min-height: auto;
    margin: 0;
  }

  .product__item:first-child {
    margin: 0;
    margin-right: 8px;
  }

  .product__item:nth-child(odd) {
    margin: 0;
    margin-right: 8px;
  }

  .product__item:nth-child(even) {
    margin: 0;
    margin-left: 8px;
  }

  .product__item-wrap:hover .product__item-active {
    margin-top: auto;
    opacity: 1;
    transition-all: 0;
  }

  .product__title {
    font-size: 28px;
    line-height: 36px;
  }

  .product__nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 26px;
  }

  .product__btn {
    font-size: 18px;
    line-height: 16px;
    width: calc( 33.3333% - 8px);
    height: 39px;
    padding: 0 10px;
    margin: 0;
    margin-top: 8px;
  }

  .product__content {
    margin-top: 47px;
    padding: 0;
    padding-bottom: 29px;
    padding-top: 26px;
  }

  .product__item-active {
    position: relative;
  }

  .product__cart-wrap {
    display: none;
  }

  .product__text {
    margin-top: 12px;
    margin-bottom: 7px;
  }

  .product__text h4 {
    font-size: 18px;
    line-height: 22px;
    max-width: 118px;
  }

  .product__text span {
    display: none;
  }

  .product__price {
    font-size: 30px;
    line-height: 38px;
  }

  /** info **/

  .info {
    margin-top: 83px;
    margin-bottom: 90px;
    position: relative;
    overflow: hidden;
  }

  .info .product__title {
    font-size: 28px;
    line-height: 38px;
    max-width: 222px;
    text-align: center;
  }

  .info__content {
    position: static;
    padding-top: 56px;
    margin-top: 0;
  }

  .info__text h6 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 23px;
  }

  .info__text span {
    font-size: 42px;
    line-height: 38px;
  }

  .info__text p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 27px;
    margin-bottom: 35px;
  }

  .info__foto {
    margin-top: 65px;
  }

  .info__foto img {
    width: 100%;
    max-width: 380px;
  }

  .info__foto-background {
    width: auto;
    min-width: 550px;
    top: 270px;
  }

  .info__btn a {
    max-width: 169px;
  }

  .info__btn span {
    max-width: 169px;
  }

  /** footer **/

  .footer {
    padding-bottom: 27px;
  }

  .footer__logo span {
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
  }

  .footer__nav a {
    margin-bottom: 14px;
  }

  .footer__city span {
    font-size: 18px;
    line-height: 21px;
  }

  .footer__out span {
    font-size: 14px;
    line-height: 19px;
  }

  .footer__out p {
    font-size: 28px;
    line-height: 31px;
  }
}
@supports (-webkit-appearance:none){
.header__logo{background:url(../img/header/background.svg)}
.header__cart{background:url(../img/header/cart.svg)}
.intro{background:url(../img/intro/background.webp)}
.intro-out__total{background:url(../img/about/dashed.svg) top no-repeat}
.about__inner{background:url(../img/about/dashed.svg) top no-repeat, url(../img/about/dashed.svg) bottom no-repeat}
.product__content{background:url(../img/about/dashed.svg) top no-repeat, url(../img/about/dashed.svg) bottom no-repeat}
.time__background{background-image:url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: black; stroke-width: 1; stroke-dasharray: 5 5'/></svg>")}
.form__label::before{background:url(../img/form/circle.svg)}
.form__input-radio:checked + .form__label::before{background:url(../img/form/circle-active.svg)}
.cart__item{background:url(../img/about/dashed.svg) top no-repeat}
.cart__total{background:url(../img/about/dashed.svg) top no-repeat}
}

 @media screen and (max-width: 1270px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 997px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 684px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 576px){

@supports (-webkit-appearance:none){
.header__cart{background:url(../img/header/cart-mobile.svg)}
.intro{background:url(../img/intro/background-mobile.webp)}
}

}
