.info
   margin-top: 158px
   &__inner
      display: flex
      flex-direction: column
      align-items: center
   &__content
      display: flex
      justify-content: space-between

      width: 100%
      margin-top: 84px
   &__text
      display: flex
      flex-direction: column
      h6
         font-family: secondary-font
         font-size: 20px
         font-weight: normal
         line-height: 26px
         color: $primary-color

         margin-top: 5px
         margin-bottom: 15px
      span
         font-family: logo
         font-size: 36px
         font-weight: normal
         line-height: 38px
         color: $primary-color
      p
         font-family: secondary-font
         font-size: 20px
         font-weight: normal
         line-height: 28px
         color: $primary-color

         margin-top: 33px
         margin-bottom: 82px
      .cart__btn
         justify-content: flex-start
   &__btn
      a
         max-width: 266px
      span
         max-width: 266px
