.product
   &__inner
      display: flex
      flex-direction: column
      align-items: center
   &__title
      font-family: primary-font
      font-weight: normal
      font-size: 36px
      line-height: 38px
      color: $primary-color
   &__nav
      width: 100%
      margin: 89px 0
   &__btn
      font-family: primary-font
      font-weight: normal
      font-size: 24px
      font-weight: 18px
      color: $primary-color

      width: 100%
      max-width: 176px
      height: 50px

      border: 1px solid $black
      border-radius: 48px

      margin-right: 15px
      cursor: pointer
      &:last-child
         margin-right: 0
   &__btn-active
      color: $white
      background: #DB8C3D
      box-shadow: 0px 4px 11px #C09F7F
      border: none
   &__content
      width: 100%
   &__wrap
      display: flex
   &__item
      margin-right: 49px
      height: 100%
      min-height: 430px
      &:last-child
         margin-right: 0
      &:hover
         .product__item-active
            margin-top: -4%
            opacity: .9

            transition: .6s
         .product__cart
            opacity: 1
            transition-property: all
            transition-duration: .15s
            transition-delay: .15s
         .product__cart-wrap
            span
               opacity: .99
               transition-property: all
               transition-duration: .18s
               transition-delay: .18s
   &__item-active
      position: absolute
      width: 100%
      max-width: 258px
      height: 100%
      max-height: 190px
      transition: .6s

      background-color: $white
   &__foto
      width: 100%
      max-width: 280px
   &__text
      display: flex
      justify-content: space-between
      align-items: center

      margin-top: 17px
      margin-bottom: 33px
      h4
         font-family: primary-font
         font-size: 22px
         font-weight: 400
         line-height: 18px
         color: $primary-color
      span
         font-family: primary-font
         font-size: 20px
         font-weight: 400
         line-height: 18px
         color: $secondary-color

         margin-right: 5px
   &__price
      font-family: primary-font
      font-size: 30px
      line-height: 30px
      color: $primary-color

      margin-bottom: 17px
   &__cart
      display: flex
      justify-content: center
      align-items: center

      font-family: secondary-font
      font-weight: 500
      line-height: 24px
      font-size: 20px
      color: $white

      background-color: $primary-color
      border-radius: 9px
      position: absolute
      bottom: -57px
      z-index: 2

      width: 100%
      max-width: 253px
      height: 58px

      cursor: pointer

      opacity: 0
      transition-duration: .12s
      transition-delay: .12s
      img
         margin-left: 3px
   &__cart-wrap
      position: relative
      span
         width: 100%
         max-width: 253px
         height: 58px

         position: absolute
         bottom: -62px
         right: -1px
         z-index: 1

         background: $white
         border: 1px solid $primary-color
         border-radius: 9px

         opacity: 0
         transition-duration: .09s
         transition-delay: .09s